<p v-if="loading" class="alert alert-info">加载中.....</p>
<p v-if="error" class="alert alert-danger">{{error}}</p>

<div v-if="!loading" class="sign-history">
	<p v-if="!list || list.length<1" class="alert-warning alert">没有新的签到任务</p>

	<ul v-if="list && list.length>0" class="list-group">
		<li v-repeat="list" class="list-group-item">
			<span class="badge" v-if="count">已有 {{count}} 人</span>

			<h4 class="s-name">
				<button v-if="logStatus===0 && expireTime>now_time" class="btn btn-danger btn-sm"
				        v-on="click: e_finish_now($index)">即刻完成
				</button>
				<label class="label label-warning" v-if="logStatus===0 && expireTime<=now_time">过期</label>
				<label class="label label-success" v-if="logStatus===1">完成</label>
				<label class="label label-danger" v-if="logStatus===2">失败</label>
				<label class="label label-danger" v-if="logStatus===3">异常</label>
				<a href="#" title="查看详情">{{name}}</a></h4>

			<p class="s-detail" v-if="detail">{{detail}}</p>

			<p class="s-desc">
				时间:<span>{{taskTime|timestamp_to_date}}</span>&nbsp;
				<span v-if="logStatus===0">
					过期:<span>{{expireTime|timestamp_to_offset}}</span>&nbsp;
				</span>
				<span v-if="logStatus>0">
					完成:<span>{{endTime|timestamp_to_offset}}</span>&nbsp;
				</span>
				<a href="#{{courseTableID}}" class="btn btn-info btn-sm">查看课程</a>&nbsp;
			</p>
		</li>
	</ul>
</div>