.student-course-table > thead > tr > th, td {
    text-align: center;
}

.student-course-table caption {
    font-size: 25px;
    margin-bottom: 25px;
}

.student-course-table > thead > tr > th,
.student-course-table > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
    border-top: none;
}

.student-course-table tbody {
    background-color: #e6f8fb;
}

.student-course-table > tbody + tbody {
    border-top: 1px solid #fff;
}

.student-course-table tr {
    height: 52px;
    line-height: 52px;
    color: #5e6061;
}

.student-course-table .weekly {
    font-weight: normal;
    font-size: 15px
}

.student-course-table tr > td:first-child {
    background-color: #5bc0de;
    color: #fff;
    font-size: 20px;
}

.student-course-table tr > td:first-child p {
    color: #fff;
    font-size: 14px;
}

.student-course-table > thead > tr > th {
    background-color: #5bc0de;
    color: #fff;
    border: 1px solid #fff;
}

.student-course-table td {
    border: 1px solid #fff;
    text-align: center;
}
.student-course-table td:hover{
    background-color: #d1e3e6;
}

.student-course-table tbody td h4 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 20px;
}

.student-course-table tr td span {
    display: inline-block;
    height: 30px;
    text-align: left;
    padding-left: 39px;
    margin: 4px 0 0 20px;
    color: #666;
}

.student-course-table tr td .teacher {
    background: url(image/teacher.png) no-repeat 0 2px;
    background-size: 24px 20px;
}

.student-course-table tr td .address {
    background: url(image/address.png) no-repeat 4px 0;
    background-size: 16px 20px;
}
