doctype html
html
    head
        meta(charset='utf-8')
        title: !=title
        link(rel="stylesheet", type="text/css" href="asset/all.min.css")
    body
        .container
            .markdown-body
                !=content
        script(type="text/javascript" src="asset/all.min.js")
