<form method="get" v-on="submit: onLoginFormSubmit">
	<fieldset>
		<legend v-if="data.show_title">用户登录</legend>
		<div class="alert alert-danger" role="alert" v-if="data.error_msg">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{data.error_msg}}
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">用户名</span>
				<input type="text" v-model="data.username" name="username" class="form-control" placeholder="Username">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">密　码</span>
				<input type="password" v-model="data.password" name="password" class="form-control"
				       placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-primary form-control" type="submit">登录</button>
		</div>
	</fieldset>
	<p><a class="text-info" href="forget.html">忘记密码？</a></p>
</form>