<p v-if="loading" class="alert alert-info">加载中</p>
<p v-if="error" class="alert alert-danger">{{error}}</p>
<div v-if="!error">
	<div class="sign-history" if="!loading">
		<p v-if="!list || list.length<1" class="alert alert-warning">数据为空</p>

		<ul v-if="list && list.length>0" class="list-group">
			<li v-repeat="list" class="list-group-item">
				<span class="badge" v-if="count">{{count}}</span>

				<h4 class="s-name"><a href="#/sign_detail/{{signID}}">{{name}}</a></h4>

				<p class="s-detail" v-if="detail">{{detail}}</p>

				<p class="s-desc">
					时间:<span>{{time|timestamp_to_date}}</span>&nbsp;
					过期:<span>{{expireTime|timestamp_to_date}}</span>&nbsp;
					<a href="course_teacher.html#/course_table/{{courseTableID}}" class="btn btn-info btn-sm">查看课程</a>&nbsp;
					<a href="#/report/{{signID}}" class="btn btn-success btn-sm">汇总</a>
				</p>
			</li>
		</ul>
	</div>
</div>