<h3>编辑个人信息</h3>
<form style="max-width: 600px;margin: 0 auto" method="post" v-on="submit:onSubmit">
    <p class="alert-danger alert" v-if="status.error">{{status.error}}</p>
    <p class="alert-success alert" v-if="status.success">成功更新个人信息</p>
    <div class="form-group">
        <label class="control-label" for="input01">姓名</label>
        <div>
            <input type="text" id="input01" v-model="name" placeholder="" class="form-control">
            <p class="help-block">输入你的姓名</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="input02">学校</label>
        <div>
            <input type="text" id="input02" v-model="school" placeholder="" class="form-control">
            <p class="help-block">输入你的姓名</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="input03">学院</label>
        <div>
            <input type="text" id="input03" v-model="college" placeholder="" class="form-control">
            <p class="help-block">输入你的姓名</p>
        </div>
    </div>

    <div>
        <label class="control-label" for="input04">专业</label>
        <div>
            <input type="text" id="input04" v-model="zy" placeholder="" class="form-control">
            <p class="help-block">输入你的姓名</p>
        </div>
    </div>

    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary">更新个人信息</button>
        </div>
    </div>
</form>