<div>
    <form v-on="submit: onSubmit" style="max-width: 500px;margin: 15px auto" action="" method="post">
        <h3>修改我的密码</h3>

        <p class="alert-danger alert" v-if="error">{{error}}</p>

        <p class="alert-success alert" v-if="success">成功修改密码</p>

        <div class="form-group">
            <label class="sr-only" for="InputOld">旧密码</label>

            <div class="input-group">
                <div class="input-group-addon">旧密码</div>
                <input type="password" name="old" v-model="old" class="form-control" id="InputOld" placeholder="输入旧密码">
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="InputNew">新密码</label>

            <div class="input-group">
                <div class="input-group-addon">新密码</div>
                <input type="password" name="new" v-model="new_pwd" class="form-control" id="InputNew"
                       placeholder="输入新密码">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-warning">确认修改</button>
        </div>
    </form>
</div>