.input-group .input-group-addon{background-color: #3399CC;border:1px solid #2aa0db;color: #fff;}
.inline{margin-bottom: 40px;}
.form-inline{margin-top: 20px;}
.modify{margin-bottom: 20px;}
.modify h3{margin-bottom: 30px;}
.modify span{padding-left: 20px; color: #999;}
.modify small{color: #999;font-size: 14px;}
.overhead{margin-top:20px;padding-bottom: 15px;}
.overhead label{padding-bottom: 6px;}