#Header .profile-info {
    padding: 0;
    line-height: 50px;
    display: inline-block;
}

#Header .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px;
}

#Footer {
    background-color: #f4f4f4;
    padding: 30px 18px;
    margin-top: 50px;
}

#Footer .container {
}

.panel-title-button {
    margin-top: -5px;
    margin-right: -10px
}

.bg-padding {
    padding: 12px 8px;
}