@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-05-09 21:53:58
 * @version $Id$
 */
.choice{margin-right: -36px;}
.ok{width: 120px;}
tbody{background-color: #e6f8fb; color:#666;}
th,td{text-align: center;line-height: 100%;}
caption{font-size: 25px;margin-bottom: 25px;}
.table > thead > tr > th{background-color: #5bc0de;}
.table > tbody{border-style: none;}
tbody:nth-of-type(2n){background:#feeeab;}
.table > thead > tr > th{color: #fff;}
tr{height: 52px;}
.pre,.next{height: 34px;}
.today{background:url(image/today.png) no-repeat 0 0;background-position: center center;}
.blue{background-color: #5bc0de;border:1px solid #28a2c6;}