@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-05-09 21:53:58
 * @version $Id$
 */
.choice{margin-right: -36px;}
.ok{width: 120px;}
.table > thead > tr > th,td{text-align: center;}

caption{font-size: 25px;margin-bottom: 25px;}
tbody{background-color: #e6f8fb;}
.table > tbody + tbody{border-top:1px solid #fff;}
tbody:nth-of-type(2n){background:#EEE;font-size: 18px;}
tr{height: 52px;line-height:52px;color: #5e6061;}
.weekly{font-weight: normal;font-size: 15px}
tr>td:first-child {background-color: #5bc0de;color: #fff;font-size: 20px;}
tr>td:first-child p{color: #fff;font-size: 14px;}
.table > thead > tr > th{background-color: #5bc0de;color: #fff; border: 1px solid #fff;}
td{border:1px solid #fff;text-align: center;}
tbody td h4{font-weight: bold;font-size: 18px;margin-bottom: 16px;text-align: left;margin-left: 20px;}
tr td span{display:block;height:30px;text-align: left;padding-left:39px;margin:4px 0 0 20px;color: #666;}
tr td .teacher{background:url(image/teacher.png) no-repeat 0 2px;background-size:24px 20px;}
tr td .address{background:url(image/address.png) no-repeat 4px 0;background-size:16px 20px;}
.pre,.next{height: 34px;}
.blue{background-color: #5bc0de;border:1px solid #28a2c6;}
.division{border-left:1px solid #98d8ea;border-right:1px solid #98d8ea;border-bottom: }
.table > thead > tr>.division{border-right:1px solid #98d8ea;}
.table-bordered { border:none;}