#Header .user-avatar{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	margin-right: 5px;
}

#Footer {
	background-color: #f4f4f4;
	padding: 30px 18px;
	margin-top: 50px;
}

#Footer .container {
}





