.navbar {
    /*消除导航栏的边角*/
    border-radius: 0;
}

.bs-navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.bs-navbar-collapse .container .navbar-right {
    margin-left: 0;
    margin-right: 0;
}

#Header .profile-info {
    padding: 0;
    line-height: 50px;
    display: inline-block;
}

#Header .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px;
}

/* 主要的容器 */
.main-container {
}

#Footer {
    background-color: #f4f4f4;
    padding: 30px 18px;
}

#Footer .container {
}

.panel-title-button {
    margin-top: -5px;
    margin-right: -10px
}

.bg-padding {
    padding: 12px 8px;
}

/*首页样式*/

#Index h2.desc {
    text-align: center;
    font-size: 4em;
    margin-top: 100px;
    padding: 25px 0;
    line-height: 1.2;
    color: #000;
}

@media screen and (min-width: 786px) {
    #CustomStyle {
        background: url('image/background_index.jpg') no-repeat;
        background-size: cover;
    }

    #CustomStyle .main-navbar {
        background-color: rgba(107, 210, 238, 0.9);
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    #CustomStyle .main-navbar .dropdown-menu {
        background-color: rgba(107, 210, 238, 0.9);
    }

    #CustomStyle .navbar-default .navbar-nav > .open > a,
    #CustomStyle .navbar-default .navbar-nav > .open > a:focus,
    #CustomStyle .navbar-default .navbar-nav > .open > a:hover {
        background-color: rgba(107, 210, 238, 0.95);
    }

    #CustomStyle .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    #CustomStyle .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: rgba(107, 210, 238, 0.5);
    }

    #CustomStyle .main-navbar a {
        color: #f3f3f3;
    }

    #CustomStyle .main-navbar a:hover {
        color: #fff;
    }

    #CustomStyle .main-footer {
        background-color: rgba(102, 188, 211, 0.30);
        color: #fff;
    }

    #CustomStyle .navbar-default {
        border: none;
    }

    #CustomStyle .navbar {
        border-radius: 0;
        margin-bottom: 0;
        border: none;
        border-bottom: 1px solid #8cdaf2;
    }

    #Index h2.desc {
        color: #fff;
    }
}

/*测验多选的选项样式*/
.quiz-multi-option li, .quiz-single-option li {
    margin-left: 15px;
    line-height: 30px;
}

.quiz-multi-option li button, .quiz-single-option li button {
    margin: 5px;
    border-radius: 50%;
}

.quiz-multi-option li span.display-char {
    font-size: 20px;
    padding: 0 5px 0 15px;
}

.quiz-multi-option li span.display-answer-index {
    font-size: 18px;
    padding: 0 2px 0 15px;
}

.test-title {
    font-size: 18px;
}

.quiz-answer-submit {
    padding: 0;
    margin: 0 0 15px 20px;
}

.answer-result-item {
    border: 1px dashed #658e5b;
    padding: 5px;
}

.answer-result-item p {
    margin-bottom: 0;
}

.answer-result-item button {
    margin-left: 5px;
    border-radius: 50%;
}


.course-table tbody {
    background-color: #e6f8fb;
    color: #666;
}

.course-table .table > thead > tr > th,
.course-table .table > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
    border-top: none;
}

.course-table .table > thead > tr > th {
    background-color: #5bc0de;
}

.course-table .table > tbody {
    border-style: none;
}

.course-table tbody:nth-of-type(2n) {
    background: #feeeab;
}

.course-table .table > thead > tr > th {
    color: #fff;
}

.course-table tr {
    height: 52px;
}

.course-table .pre, .next {
    height: 34px;
}

.course-table .today {
    background: url(image/today_red.png) no-repeat center center;
}

.course-table .blue {
    background-color: #5bc0de;
    border: 1px solid #28a2c6;
}


.student-course-table > thead > tr > th, td {
    text-align: center;
}

.student-course-table caption {
    font-size: 25px;
    margin-bottom: 25px;
}

.student-course-table > thead > tr > th,
.student-course-table > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
    border-top: none;
}

.student-course-table tbody {
    background-color: #e6f8fb;
}

.student-course-table > tbody + tbody {
    border-top: 1px solid #fff;
}

.student-course-table tr {
    height: 52px;
    line-height: 52px;
    color: #5e6061;
}

.student-course-table .weekly {
    font-weight: normal;
    font-size: 15px
}

.student-course-table tr > td:first-child {
    background-color: #5bc0de;
    color: #fff;
    font-size: 20px;
}

.student-course-table tr > td:first-child p {
    color: #fff;
    font-size: 14px;
}

.student-course-table > thead > tr > th {
    background-color: #5bc0de;
    color: #fff;
    border: 1px solid #fff;
}

.student-course-table td {
    border: 1px solid #fff;
    text-align: center;
}
.student-course-table td:hover{
    background-color: #d1e3e6;
}

.student-course-table tbody td h4 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 20px;
}

.student-course-table tr td span {
    display: inline-block;
    height: 30px;
    text-align: left;
    padding-left: 39px;
    margin: 4px 0 0 20px;
    color: #666;
}

.student-course-table tr td .teacher {
    background: url(image/teacher.png) no-repeat 0 2px;
    background-size: 24px 20px;
}

.student-course-table tr td .address {
    background: url(image/address.png) no-repeat 4px 0;
    background-size: 16px 20px;
}



