<p class="alert alert-danger" v-if="error">{{error}}</p>
<button
value="xx"
class="btn"></button>
<div v-with="course_search" v-component="course-search"></div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<span v-if="course_search.courseName">有关<strong>{{course_search.courseName}}</strong>的测验&nbsp;&nbsp;</span>
		<strong v-if="!course_search.courseName">全部测验&nbsp;&nbsp;</strong>
		<a v-repeat="correct:correct_map" class="btn-sm"
		   v-class="correct.id==is_correct?'btn-success':'btn-default'"
		   href="#/history/{{correct.url}}">{{correct.name}}</a>
	</div>
	<div class="panel-body">
		<p v-if="execs===null" class="alert alert-info">加载中</p>

		<p v-if="execs!=null && execs.length==0" class="alert alert-warning">无任何做题记录</p>

		<div v-if="execs!=null && execs.length>0"
		     class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div v-repeat="answer:execs" class="panel panel-default">
				<div class="panel-heading" role="tab" id="Heading_{{$index}}">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{$index}}"
						   aria-expanded="true"
						   aria-controls="#collapse_{{$index}}">
							<i>{{quiz_obj[answer.quizID].quiz.index}}</i>&nbsp;&nbsp;
							{{quiz_obj[answer.quizID].quiz.title|quiz_title_to_test_title}}
						</a>
							<span class="pull-right" aria-hidden="true">
								<span>{{answer.time|timestamp_to_date}}</span>
								<button type="button"
								        class="panel-title-button btn btn-sm"
								        v-class="answer.isCorrect?'btn-success':'btn-danger'">
									<span class="glyphicon"
									      v-class="answer.isCorrect?'glyphicon-ok':'glyphicon-remove'">
									</span>
								</button>
							</span>
					</h4>
				</div>
				<div id="collapse_{{$index}}"
				     class="panel-collapse collapse"
				     role="tabpane"
				     aria-labelledby="Heading_{{$index}}">
					<div class="panel-body">
						<div v-with="answer:answer,quiz: quiz_obj[answer.quizID]" v-component="answer-item"></div>
						<div v-with="quiz_obj[answer.quizID]" v-component="quiz-item"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>