<h3>添加课程测验</h3>
<div class="panel panel-primary">

	<div class="panel-heading form-inline form-group-sm">选择你的课程
		<select v-on="change: onCourseChange" v-model="model.status" class="form-control">
			<option v-repeat="map.status" value="{{id}}">{{status}}</option>
		</select></div>
	<div class="panel-body">
		<p class="alert-danger alert" v-if="error && model.course==-1">{{error}}</p>

		<p v-if="loading" class="alert alert-info">加载中。。。。。</p>

		<p v-if="course_list_empty" class="alert alert-warning">无任何课程数据</p>
		<button v-repeat="course_list"
		        class="btn btn-{{model.course==$index?'success':'default'}}" type="button"
		        v-on="click: onCourseClick($index)"
		        data-id="{{$index}}">
			{{$value}}
		</button>
	</div>
</div>

<div v-if="model.course>-1 || !quiz_empty" class="panel panel-primary">
	<div class="panel-heading">测试内容</div>
	<div class="panel-body">
		<p class="alert-danger alert" v-if="error">{{error}}</p>

		<div class="form-group">
			<h4><label for="InputTitle">测试的标题</label></h4>
			<textarea v-model="model.quiz.title" id="InputTitle" class="form-control"
			          placeholder="输入测试的标题，多选指定答案请使用__A__，正确选项字符前两下划线" rows="2">
			</textarea>
		</div>
		<div class="form-group input-group" v-repeat="model.quiz_name">
			<span class="input-group-addon">
				<label style="margin-bottom: 0" for="InputValue_{{key}}">{{key}}</label>
			</span>
			<input v-model="model.quiz.options[$index]" type="text" class="form-control" placeholder="选项{{key}}"
			       id="InputValue_{{key}}">
		</div>
		<div class="form-group">
			<p>
				<span class="glyphicon glyphicon-ok text-primary">正确选项</span>，
				<span class="text-warning glyphicon glyphicon-warning-sign">如果只选择一个将作为单选题</span>
			</p>
			<button v-repeat="model.quiz_name" v-on="click:onSetCorrect($index)"
			        class="btn btn-{{correct?'success':'default'}}">{{key}}
			</button>
			<button class="btn btn-primary" v-on="click:onQuizAdd" type="button">添加</button>
			<button class="btn btn-danger" v-on="click:onQuizRemove" type="button">移除</button>
		</div>
		<div class="form-group">
			<label for="Desc">答题解析：</label>
			<textarea name="desc" v-model="model.desc" id="Desc" class="form-control" rows="4"></textarea>
		</div>
		<div class="form-group">
			<button class="btn btn-block btn-primary" type="button" v-on="click:onSubmit">添加测试题</button>
		</div>
	</div>
</div>