<p class="alert alert-danger" v-if="data.error">{{data.error}}</p>
<div class="alert alert-warning" v-if="data.list.length==0">
	当前开课列表为空，请先添加课程
</div>
<div class="course-table" v-if="data.list.length>0">
	<table class="table">
		<thead>
		<tr>
			<th>课程名称</th>
			<th>班级</th>
			<th>专业年级</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody v-repeat="data.list">
		<tr>
			<td><a target="_blank" href="course_teacher.html#/course_table/{{course.courseTableID}}">{{course.courseName}}</a></td>
			<td>
				<span v-repeat="classes_info" class="btn-block">{{className}}</span>
			</td>
			<td>{{course.deptName}}<br>{{course.enrolYear}}级</td>
			<td>
				<p>
					<a class="btn btn-success btn-sm" href="#/add/{{course.courseID}}/table/{{course.courseTableID}}">添加新测验到课程</a>
					<a class="btn btn-primary btn-sm" href="#/bind/{{course.courseTableID}}">关联已有测验</a>
					<button class="btn btn-info btn-sm">做题记录</button>
				</p>
				<p>
					<button class="btn btn-success btn-sm">管理列表</button>
					<button class="btn btn-primary btn-sm">发布学生测验</button>
					<button class="btn btn-success btn-sm">学生测验记录</button>
				</p>
			</td>
		</tr>
		</tbody>
	</table>
</div>