<div v-with="course_search" v-component="course-search"></div>

<div v-if="course_search.courseName" class="panel panel-primary">
	<div class="panel-heading">{{course_search.courseName}}</div>
	<div class="panel-body">
		<p class="alert-danger alert" v-if="error2">{{error2}}</p>

		<div v-if="!error2 && quiz_list.length==0" class="alert alert-warning">该课程无共享的课程</div>
		<div v-if="quiz_list!==null && quiz_list.length>0">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div v-repeat="quiz_list" class="panel panel-default">
					<div class="panel-heading" role="tab" id="Heading_{{$index}}">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{$index}}"
							   aria-expanded="true"
							   aria-controls="#collapse_{{$index}}">
								<i>{{quiz.index}}</i>&nbsp;&nbsp;{{quiz.title}}
							</a>
							<span class="pull-right" aria-hidden="true">
									<button v-if="quiz.teacherID==teacher_id" type="button" v-on="click: onShare($index)"
									        v-class="quiz.status?'btn-warning':'btn-info'"
									        class="panel-title-button btn btn-sm">
										{{quiz.status?'取消共享':'共享测验'}}
									</button>
								</span>
						</h4>
					</div>
					<div id="collapse_{{$index}}"
					     class="panel-collapse collapse{{$index==0?' in':''}}"
					     role="tabpane"
					     aria-labelledby="Heading_{{$index}}">
						<div class="panel-body" v-with="quiz_list[$index]" v-component="quiz-item"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>