<h3>添加课表</h3>
<form>
    <div class="form-inline form-group">
        <select class="form-control" disabled>
            <option>{{college.uniNickname}}</option>
        </select>
        <select class="form-control" disabled>
            <option>{{college.collegeName}}</option>
        </select>
        <select class="form-control" name="dept" v-model="form.department" v-on="change:departmentChange">
            <option value="">--请选择--</option>
            <option v-repeat="college.departments" value="{{id}}">{{name}}</option>
        </select>
    </div>
    <div class="form-inline form-group" v-if="college.classes">
        <strong>班级 : </strong>
        <span v-if="college.classes.length==0">无数据</span>
        <label v-repeat="college.classes">
            <input class="checkbox" type="checkbox" v-on="change:classChange" value="{{id}}"> {{name}}&nbsp;&nbsp;&nbsp;
        </label>
    </div>

</form>