<p v-if="data.loading" class="alert alert-info">加载中</p>
<p v-if="data.error" class="alert alert-danger">{{data.error}}</p>
<div v-if="data.table!==null" class="course-table-detail">
	<h3>{{data.table.course.courseName}}</h3>
	<ul class="list-unstyled">
		<li><strong>专业：</strong>
			{{data.table.course.deptName}}({{data.table.course.deptNickName}}{{data.table.course.enrolYear}}级)
		</li>
		<li><strong>老师：</strong>
			{{data.table.course.teacherName}}({{data.table.course.teacherID}})
		</li>
		<li><strong>开课：</strong>
			{{data.table.course.openYear}}
			{{data.table.course.openTerm|course_term}}
		</li>
		<li><strong>周次：</strong>
			{{data.table.course.fromWeek}}-{{data.table.course.endWeek}} 周
		</li>
		<li><strong>状态：</strong>
			{{{data.table.course.status|course_status_label}}}
		</li>
	</ul>
	<h5 class="class-info" v-if="data.table.classes_info!==null">所属班级信息：
		<span class="label label-info" v-repeat="data.table.classes_info">
				{{className}}
			</span>
	</h5>
	<table v-if="data.table.locations!==null" class="ct-location table table-responsive table-hover table-bordered">
		<caption><h4>上课地点</h4></caption>
		<thead>
		<tr>
			<th>&nbsp;</th>
			<th>地点</th>
			<th>周次</th>
			<th>节次</th>
			<th>星期</th>
			<th>备注</th>
		</tr>
		</thead>
		<tbody>
		<tr v-repeat="data.table.locations">
			<td class="ct-location-edit">
				<a href="#" class="text-danger"><span class="glyphicon glyphicon-edit"></span></a>
			</td>
			<td>{{location}}</td>
			<td>{{week}}</td>
			<td>{{slot}}</td>
			<td>{{day|course_week_parse}}</td>
			<td class="notice">
				{{notice}}
			</td>
		</tr>
		</tbody>
	</table>
	<component call="{{data.review}}" is="review-review"></component>
</div>