<h3>教师课表</h3>
<div class="course-table">
	<table class="table">
		<thead>
		<tr>
			<th>&nbsp;</th>
			<th>课程名称</th>
			<th>班级</th>
			<th>周次</th>
			<th>星期</th>
			<th>节次</th>
			<th>地点</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody v-repeat="data.list">
		<tr v-repeat="locations">
			<td class="{{locations[$index] | course_location_check_today today none}}"></td>
			<td v-if="$index==0" rowspan="{{locations.length}}">
				<a href="#/course_table/{{courseTableID}}">{{course.courseName}}</a>
			</td>
			<td v-if="$index==0" rowspan="{{locations.length}}">
				<span v-repeat="classes_info" class="btn-block">{{className}}</span>
			</td>
			<td>{{week}}</td>
			<td>{{day|course_week_parse}}</td>
			<td><strong>{{slot}}</strong>大节</td>
			<td>{{location}}</td>
			<td v-if="$index==0" rowspan="{{locations.length}}">
				<button class="btn btn-primary btn-sm">编辑</button>
				<a v-if="course.status==0" class="btn btn-success btn-sm"
				   href="#/new_sign/{{course.courseTableID}}">新签到</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>