<p class="alert-danger alert" v-if="error">{{error}}</p>
<div v-if="week_list.length>0">
	<nav>
		<ul class="pagination pagination-lg">
			<li class="disabled"><a href="javascript:void(0)">周次</a></li>
			<li v-repeat="week_list" v-class="$value==week_current?'active':''">
				<a href="#" v-on="click: setWeek($value, $event)">{{$value}}</a>
			</li>
		</ul>
	</nav>
</div>
<div class="alert alert-warning" v-if="!has_course">
	<p>本周没有任何课程, 第<strong>{{week_current}}</strong>周</p>
</div>
<table v-if="has_course" class="table student-course-table">
	<thead>
	<tr>
		<th class="Weekly">第{{week_current}}周</th>
		<th>星期一</th>
		<th>星期二</th>
		<th>星期三</th>
		<th>星期四</th>
		<th>星期五</th>
		<th>星期六</th>
		<th>星期日</th>
	</tr>
	</thead>
	<tbody>
	<tr v-repeat="week_table">
		<td>{{$index| course_week_index_to_time}}<br>{{$index+1}}</td>
		<td v-repeat="$value">
			<div v-repeat="$value">
				<h4>{{courseName}}</h4>
				<span class="teacher">{{teacherName}}</span>
				<span class="address">{{location}}</span>
			</div>
		</td>
	</tr>
	</tbody>
</table>